#score {
    margin-left: 100px;
    font-size: 20px;
    font-family: sans-serif;
}

#timer {
    float: right;
    margin-right: 100px;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 203, 89);
}

h1 {
    background-color: #ffeeb6;
    color: rgb(255, 0, 119);
    font-family: cursive;
}

#show_sketch {
    float: right;
}

p {
    font-family: cursive;
    font-size: 25px;
    color: black;
}

#sketch_to_be_drawn {
    font-family:  monospace;
    font-size: 25px;
    color: red;
}

canvas 
  {
    border:2px solid white;
    border-radius:20px;
    margin-top:135px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px red;}
  to {box-shadow: 1px 1px 38px green;}

}


p, span
{
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
}